.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    border: 1PX solid #95a0a7;
    border-radius: 8px;
    padding-left: 40px;
}

.form-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    text-align: center;
    color: #2a414f;
}

.form-control{
    margin-bottom:20px;
}

.form-control label{
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2a414f;
    margin-bottom: 10px;
}

.form-control input{
    width: 415px;
    height: 55px;
    border: 1px solid #95a0a7;
    border-radius: 5px;
    font-size: 1.5em;
}

.btn-submit{
    width: 420px;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-top: 20px;
    background-color: rgb(255, 153, 0, 0.3);
}

.btn-submit:hover{
    background-color: rgb(255, 153, 0, 0.8);
    color: white;
    border: 2px solid black;
}